.User_Details_title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--BorderColor);
}

.Find__What_Are_You .Font_Md {
  font-size: 22px;
}

.User__profile_Card_div {
  width: 100%;
  height: 600px;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0.8rem 2rem;
}

.User__profile_Card_div .User_Card_Arrow {
  width: 100%;
  height: auto;
}

.Zondic_Sign_Div img {
  margin-right: 0.9rem;
}

.User_Capatiblity__Button_Div {
  text-align: center;
}

.User_Capatiblity__Button_Div p {
  font-size: 0.8rem;
}

.User_Capatiblity__Button_Div img {
  cursor: pointer;
  width: 70px;
}

.User__Profile_Content_Div {
  z-index: 99;
}

.User__Profile_Content_Div h1 {
  color: var(--main2_color);
  font-size: 34px;
}
.User__profile_Card_div .user_Profile_Img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0.9);
}

.line_Inner_div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.line_Inner_div img {
  width: 100%;
  height: 100%;
}
.slick-slider .slick-prev {
  position: absolute !important;
  top: -30px !important;
  left: 97% !important;
}
.slick-next {
  position: absolute !important;
  top: -30px !important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 35px !important;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  padding: 1rem 0;
}
